node_modules
example
.git
.gitignore
babel.config.js
metro.config.js
android/.gradle
ios/Pods/
assets/
android/app/build
ios/build
ios/*.xcworkspace
ios/*/*.xcworkspace
android/.gradle
android/app/build
ios/build
ios/*.xcodeproj
ios/Podfile
ios/Podfile.lock
*.log
tests